#menu-cabecalho{
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.itens-menu li:hover{
    background-color: #eee;
}

.navbar-brand{
    cursor: pointer;
}

.navbar-brand img{
    width: 100%;
    height: auto;
    margin-top: -12px;
}

#inicio-pagina{
    margin-top: 30px;
}

#pnl-endereco{
    height: 366px;
}

#mapa{
    width: 100%;
    padding: 0 3%;
}

#cabecalho-outros-veiculos{
    background-color: #337cbb;
    padding: 0px 0 7px 0;
}

#cabecalho-outros-veiculos h3{
    margin-top: 9px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.panel-heading h2, .panel-heading h3, .panel-heading h1{
    width: 100%;
    text-align: center;
}

.panel-heading h1{
    font-size: 15pt;
}

.grupo-campos{
    padding-top: 15px; 
}

.grupo-btn-right{
    width: 100%;
    float: left;
    padding: 15px 30px;
}

.grupo-btn-right button{
    float: right;
}

.titulo-painel{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
}

#info-empresa{
    width: 100%;
}

#info-empresa ul {
    width: 100%;
    padding: 0px;
}

#info-empresa ul li{
    list-style: none;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin: 5px 0px;
    border: 1px solid green;
    background-color: #F5F5DC;
    border-radius: 50px;
    font-size: 12pt;
    font-weight: bold;
    color: green;
}


#info-empresa ul li i{
    float: left;
}

.link-veiculos img:hover{
    opacity: 0.4;
}

.img-carros{
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #e6e6e6;
}

.img-carros a.btn{
    float: right;
}

.img-carro-proposta{
    position: relative;
    height: 20px;
    float: left;
    width: 24%;
    background-color: gray;
}

.form-carro-proposta{
    position: relative;
    float: left;
    height: 20px;
    width: 64%;
    background-color: blue;
}

.modal-header{
    text-align: center;
}

.btn-cadastre-se button{
    margin: -3px 0;
}

.navbar-right button{
    margin: 10px 15px 10px 15px;
    border: none;
    border-radius: 4px;
    padding: 4px 15px
}

/*página de erro*/
#pagina-erro{
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -85px;
    width: 500px;
    height: 178px;
}

#pagina-erro div{
    float: left;
    width: 50%;
    text-align: center;
}

#pagina-erro div#img img{
    position: relative;
    margin-top: -25%;
    width: 100%;
    height: auto;
}

#pagina-erro #texto span{
    font-size: 32pt;
}

#pagina-erro #texto {
    font-weight: bold;
}
/*fim página de erro*/




/*Configuração de tela de login*/
#login{
    background-color: #fff;
    left: 50%;
    position: relative;
    margin-top: 70px;
    margin-left: -200px;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    -webkit-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.43);
    box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.43);
}

.alert-login{
    position: absolute;
    left: calc(50% - 186px);
    width: 400px;
    top: 8px;
    transition: all .5s;
}

.alert-login .alert-danger{
    color: #fff;
    font-size: 12pt;
}

body#fundo-login{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2dbda+0,fcfcfc+100 */
    background: #d2dbda; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2dbda 0%, #fcfcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d2dbda 0%,#fcfcfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d2dbda 0%,#fcfcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dbda', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */

}

#img-login{
    width: 100%;
    height: 60px;
}

#img-login div{
    border: 6px solid #3b4548;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background-color: #337cbb;
    margin: 0 auto;
    position: relative;
}

#img-login div i{
    color: #fff;
    font-size: 40px;
    margin-top: 8px;
}


#img-login span{
    font-size: 14pt;
    color: #fff;
    font-weight: bold;
}

#img-login{
    background-color: #3b4548;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    text-align: center;
    padding: 15px 0px;
}

#img-login img{
    width: 60px; 
    height: auto;
}

#form-login{
    width: 100%;
    margin-top: 30px;
    padding: 30px 30px;
}

#btn-entrar-login{
    width: 100%;
}

.btn-entrar-login button{
    float: right;
}

.clear{
    clear: both;
}

#recuperar-senha{
    margin-right: -15px;
    margin-top: 20px;
    float: right;   
}

#login input{
    padding-top: 20px;
    padding-bottom: 20px;
}

#login button{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#login .botao-login{
    padding-top: 20px;
}

#recuperar-senha a{
    float: right;
    font-size: 12pt;
    text-decoration: none;
}

#recuperar-senha a:hover{
    text-decoration: underline;
}

/*Fim de Configuração de tela de login*/

#mdl-deixe-proposta{
    margin: 20px 0;
}

.pagina{
    height: 900px;
}

.carousel-inner{
    height: 365px;
}
